<!DOCTYPE html>
<html lang="en">

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EW2WCNZ0QS"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-EW2WCNZ0QS');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description"
        content="Guadagna dal primo software sul trading sportivo che utilizza l'Intelligenza Artificiale">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/landing.css">
    <link rel="icon" href="/img/logo_temaChiaro.svg">

    <title>WolfBet</title>
</head>

<body>
    <!-- HEADER -->
    <header class="navbar landing">
        <img src="/img/logo_scrittaChiaro.svg" alt="" class="logo-scritta"
            id="logo-header" alt="logo navbar">
        <div class="menu-container">
            <a href="www.wolfbet.it">Home</a>
        </div>

        <div class="mobile-right">
            <img src="/icon/search.svg" class="imgSvg" id="cerca"
                alt="icona-search">
            <img src="icon/menu_sandwhich.svg" class="imgSvg"
                id="hamburger-menu" alt="icona menu mobile">
        </div>

        <nav class="hamburger-menu">
            <ul class="nav-links">
                <li><a href="www.wolfbet.it">Home</a></li>
            </ul>
        </nav>
    </header>

    <div class="banner">
        <p>Attenzione: questo messaggio urgente é rivolto a tutti gli
            scommettitori</p>
    </div>

    <!-- IFRAME HEADER -->
    <div class="iframe-header">
        <iframe src="https://www.youtube.com/embed/zRodoHM7gkY"
            title="YouTube video player" frameborder="0"
            class="videoYT"></iframe>
    </div>

    <!-- CTA -->
    <div class="container-cta">
        <div class="inner-cta">
            <div class="half-left">
                <span class="title-m">Guadagna dalle scommesse sportive
                    prevedibilmente</span>
                <p>Wolfbet è il primo pacchetto di algoritmi vincenti per le
                    scommesse sportive che permette agli scommettitori normali
                    di generare risultati straordinari senza che tu debba
                    muovere un dito</p>
            </div>
            <div class="half-right">
                <button class="btn-cta" type="submit">
                    <span>Iscrivimi</span>
                    <img src="icon/arrow_right.svg" class="svg-change">
                </button>
                <button class="btn-cta outline" type="submit">
                    <span>Scopri di più</span>
                </button>
            </div>
        </div>
    </div>

    <!-- FASCIA TESTO 1 -->
    <div class="fascia-testo bg-color">
        <img src="img/horseshoe.png" alt="" class="img-filigrana left">

        <div class="inner">
            <span class="title txt-c">La fortuna è per i perdenti</span>
            <p>Cerchi di guadagnare con le scommesse ma hai notato che affidarsi
                solo alla fortuna non funziona, e anche adottando un approccio
                più razionale hai continuato a perdere denaro.</p>
            <br>
            <p>Non sei solo, infatti il mercato italiano ha perso ben 15
                miliardi di euro nel 2019.</p>
            <br>
            <p>Ma non disperare, c'è una soluzione. </p>
            <br>
            <p>Abbiamo creato un programma di algoritmi automatici che ti
                permetteranno di guadagnare in modo automatico e prevedibile
                senza alcuno sforzo.</p>
            <br>
            <p>Questo pacchetto di algoritmi è basato sulle migliori tecniche di
                scommessa usate dai campioni come Billy Walters, Mike
                Cruickshank e Antony Bloom, i quali guadagnano centinaia di
                migliaia di euro all'anno. </p>
            <br>
            <p>Prova il nostro programma e comincia a guadagnare come loro.</p>
        </div>

        <img src="img/7.png" alt="" class="img-filigrana inv-rot">
    </div>



    <!-- FASCIA TESTO 2 -->
    <div class="fascia-testo bg-color">
        <div class="inner">
            <span class="title">Ecco il segreto che rende un scommettitore
                professionista </span>
            <p>Assumi un approccio professionale alle scommesse? </p>
            <br>
            <p>Sai che la tua strategia può fare la differenza tra il successo e
                la sconfitta.</p>
            <br>
            <p>Purtroppo, molte strategie di scommesse non tengono conto della
                variabilità degli eventi che spesso porta alla perdita dei soldi
                scommessi.</p>
            <br>
            <p>Sei mai stato vicino alla vittoria e poi hai perso tutto per
                un'imprevista "variabile X"? </p>
            <br>
            <p>È possibile limitare gli effetti negativi di queste variabili
                concentrandosi su un breve lasso di tempo della partita e
                sfruttando la funzione di cash out delle piattaforme di
                scommesse online.</p>
            <br>
            <p>Con Wolfbet, potrai massimizzare i guadagni e ridurre al minimo
                queste incertezze che ti fanno imprecare.</p>
        </div>

        <img src="img/top-secret.png" alt="" class="img-filigrana">
    </div>

    <!-- FASCIA TESTO 3 -->
    <div class="fascia-testo">
        <div class="inner">
            <span class="title-m">Per deviare tutti questi problemi è nato così
                Wolfbet:</span>
            <span class="title">Il Primo Software completamente Automatico
                dotato di AI per il Trading Sportivo</span>
            <p>Wolfbet è l’unico software in Italia, se non nel mondo, per
                scommettitori cazzuti in grado di analizzare completamente in
                modo autonomo una partita di calcio definendo tramite un
                apposito algoritmo creato ad hoc la strada per essere
                profittevole con le scommesse.</p>
            <br>
            <p>Wolfbet è il conducente che tira il freno a mano della macchina
                dell’incertezza, infatti non è un programma passivo, ma vi
                fornisce nell’arco della partita una serie di indicazioni che
                voi dovete svolgere per essere profittevoli.</p>
            <br>
            <p>È quindi il primo software completamente automatico per il
                trading sportivo.</p>
            <br>
            <p>È l’unico software nel suo genere che coniuga l’intelligenza
                artificiale alle scommesse sportive.</p>
            <br>
            <p>L’unico davvero in grado di portarti risultati mozzafiato in
                tempi brevi e dire stop una volta per tutte all’incertezza che
                domina il mondo del betting.</p>
        </div>

        <img src="img/mobile-landing.png" alt="" class="img-abs">
    </div>

    <!-- FASCIA CTA -->
    <div class="fascia-testo bg-color">
        <div class="inner">
            <span class="title txt-c">Ecco come funziona Wolfbet</span>
            
            <p>Una volta fatto il login all’interno della piattaforma ci sarà
                presente una lista di tutte e quante le squadre profilate
                direttamente dall’algoritmo in cui potrai giocare e svolgere la
                tua attività in modo profittevole.</p>
            <br>
            <p>Cliccando all’interno del match, vi consigliamo di scegliere il
                match prima che cominci la partita, troverete tutte le
                informazioni di cui avete bisogno: se puntare o bancare, la
                quota da giocare e il budget da inserire.</p>
            <br>
            <p>Una volta entrati in questa schermata accedete al vostro account
                Betflag, l’unico Exchange con cui possiamo operare, e
                selezionate la partita che state analizzando.</p>
            <br>
            <p>Cominciato il match, l'algoritmo trasmetterà nella schermata di
                Wolfbet la quota da giocare, il saldo e quanto scommettere. Non
                preoccuparti che se non stai guardando la schermata ti sarà
                inviata una notifica.</p>
            <br>
            <p>L'inserimento dei dati all'interno di Betflag è automatico e
                perciò te non dovrai assolutamente muovere un dito.</p>
            <br>
            <p>Ora dovrai aspettare il prossimo segnale di Wolfbet per uscire
                dalla partita, procedendo con il cash out su Betflag, e così
                ottenere il tuo bel profitto. Anche qui ti invieremo delle
                notifiche, non ti preoccupare.</p>
            <br>
            <p>Sarai costantemente aggiornato e potrai operare anche su più
                partite contemporaneamente.</p>
        </div>
    </div>

    <!-- BLOCCO ICONE -->
    <div class="container-icone">
        <div class="inner-grid">
            <div class="icon-block">
                <div class="flex-inner">
                    <img src="icon/Brain-00.svg" alt="" class="svg-change">
                    <span>Innovativo</span>
                </div>
                <p>Videocorsi adatti a capire al meglio il mondo del betting e
                    sviluppare un mindset adatto per operare nel trading
                    sportivo</p>
            </div>

            <div class="icon-block">
                <div class="flex-inner">
                    <img src="icon/Money-00.svg" alt="" class="svg-change">
                    <span>Beneficiario</span>
                </div>
                <p>Bonus apertura conto Betflag con benefici dedicati</p>
            </div>

            <div class="icon-block">
                <div class="flex-inner">
                    <img src="icon/Message-00.svg" alt="" class="svg-change">
                    <span>Interattivo</span>
                </div>
                <p>Accesso alla community di Wolfbet dove ogni giorno gli
                    scommettitori si scambiano consigli</p>
            </div>

            <div class="icon-block">
                <div class="flex-inner">
                    <img src="icon/Folder-00.svg" alt="" class="svg-change">
                    <span>Archiviazione risorse</span>
                </div>
                <p>Accesso wallet degli investimenti, un archivio aggiornato di
                    tutti i tuoi trade</p>
            </div>
        </div>
    </div>



    <!-- ROADMAP -->
    <div class="container-roadmap" id="roadmap">
        <span class="main-t">RoadMap</span>
        <div class="fase">
            <div class="title-hidden">
                <img src="img/soccer-player-7.png" alt="" class="svg-change">
            </div>
            <div class="hr"></div>
            <div class="content-fase">
                <div class="title-road-mob">
                    <img src="img/soccer-player-7.png" alt=""
                        class="hidden-t svg-change">
                    <span>1° Dicembre</span>
                </div>
                <p>Possibilità di creare account gratuito per accedere alla fase
                    2</p>
            </div>
        </div>

        <div class="fase">
            <div class="title-hidden">
                <img src="img/football-7.png" alt="" class="svg-change">
            </div>
            <div class="hr"></div>
            <div class="content-fase">
                <div class="title-road-mob">
                    <img src="img/football-7.png" alt=""
                        class="hidden-t svg-change">
                    <span>(data da definire)</span>
                </div>
                <p>Accesso alla piattaforma con numero limitato di posti</p>
            </div>
        </div>

        <div class="fase">
            <div class="title-hidden">
                <img src="img/goal-7.png" alt="" class="svg-change">
            </div>
            <div class="hr"></div>
            <div class="content-fase">
                <div class="title-road-mob">
                    <img src="img/goal-7.png" alt=""
                        class="hidden-t svg-change">
                    <span>(data da definire)</span>
                </div>
                <p>Accesso alla piattaforma per chi non ha l’account per poche
                    persone</p>
            </div>
        </div>
    </div>



    <!-- FAQ -->
    <section class="container-faq">
        <span class="title">Domande frequenti</span>
        <div class="faq">
            <div class="question">
                <div class="question-title">
                    <p>Come funziona esattamente Wolfbet?</p>
                </div>
                <img src="icon/simple_arrow_downwards.svg" alt="" id="faq-plus">
            </div>
            <div class="answer">
                <p>Wolfbet è un software completamente automatico; perciò, te
                    non dovrai fare nient’altro che monitorare le performance e
                    decidere quanto capitale investire.
                    <br>Tutti i suoi movimenti sono tutti completamente
                    notificati a te tramite una e-mail e messaggio.
                    <br> Comunque, in qualsiasi momento te puoi prelevare il tuo
                    denaro dalla piattaforma di Betflag.
                </p>
            </div>
        </div>

        <div class="faq">
            <div class="question">
                <div class="question-title">
                    <p>Quali sono le prestazioni di Wolfbet nel trading
                        sportivo?</p>
                </div>
                <img src="icon/simple_arrow_downwards.svg" alt="" id="faq-plus">
            </div>
            <div class="answer">
                <p>Le prestazioni di Wolfbet si aggirano attorno allo 69% di
                    scommesse vinte, mentre tutte le altre sono in leggera
                    perdita.
                    <br> L’algoritmo è studiato in modo tale che dai match
                    perdenti esso riesca ad uscire prima dalla scommessa per non
                    perdere tutto il capitale investito.
                </p>
            </div>
        </div>

        <div class="faq">
            <div class="question">
                <div class="question-title">
                    <p>Wolfbet è adatto a tutti i tipi di sport o solo a quelli
                        specifici?</p>
                </div>
                <img src="icon/simple_arrow_downwards.svg" alt="" id="faq-plus">
            </div>
            <div class="answer">
                <p>Per il momento Wolfbet è specializzato sul calcio e comprende
                    tutti i campionati di tutto il mondo, ma il nostro obiettivo
                    è quello di integrare anche altri sport. </p>
            </div>
        </div>
        <div class="faq">
            <div class="question">
                <div class="question-title">
                    <p>È possibile personalizzare l'algoritmo di Wolfbet in base
                        alle proprie preferenze di trading?</p>
                </div>
                <img src="icon/simple_arrow_downwards.svg" alt="" id="faq-plus">
            </div>
            <div class="answer">
                <p>No, non è possibile personalizzare l’algoritmo, ma è
                    possibile indicargli quali partite giocare e quali non
                    considerare. </p>
            </div>
        </div>
        <div class="faq">
            <div class="question">
                <div class="question-title">
                    <p>Quanto tempo richiede l'installazione e la configurazione
                        di Wolfbet?</p>
                </div>
                <img src="icon/simple_arrow_downwards.svg" alt="" id="faq-plus">
            </div>
            <div class="answer">
                <p>Meno di 30 secondi. Una volta selezionato il piano tutto ciò
                    che dovrai creare è una password. All’interno troverai dei
                    video guida che ti servono a comprendere l’applicazione e su
                    come configurare il tuo account Betflag.</p>
            </div>
        </div>
        <div class="faq">
            <div class="question">
                <div class="question-title">
                    <p>Quali sono i costi associati all'utilizzo di Wolfbet?</p>
                </div>
                <img src="icon/simple_arrow_downwards.svg" alt="" id="faq-plus">
            </div>
            <div class="answer">
                <p>Wolfbet dispone di tre piani i cui prezzi sono indicati
                    sopra. Ogni categoria dispone delle proprie caratteristiche;
                    ciò è necessario per permettere sia ai beginner di entrare
                    in questo mondo, sia ai più esperti di utilizzare Wolfbet
                    come supporto.</p>
            </div>
        </div>
        <div class="faq">
            <div class="question">
                <div class="question-title">
                    <p>È possibile utilizzare Wolfbet su più Exchange
                        contemporaneamente?</p>
                </div>
                <img src="icon/simple_arrow_downwards.svg" alt="" id="faq-plus">
            </div>
            <div class="answer">
                <p>No, in questo momento l’unico Exchange che potrai utilizzare
                    è Betflag.</p>
            </div>
        </div>
        <div class="faq">
            <div class="question">
                <div class="question-title">
                    <p>Quali sono le funzionalità di sicurezza di Wolfbet per
                        proteggere i miei investimenti?</p>
                </div>
                <img src="icon/simple_arrow_downwards.svg" alt="" id="faq-plus">
            </div>
            <div class="answer">
                <p>Dovrai creare due account, uno di Wolfbet e uno associato
                    alla piattaforma di Betfleg.
                    <br> All’interno di Wolfbet non
                    saranno presenti i tuoi capitali e non avremmo nulla a che
                    fare con il tuo denaro.
                    <br> Te dovrai caricare il denaro
                    all’interno del tuo conto gioco Betflag. Per scoprire di più
                    sui protocolli di sicurezza di Betflag:
                    https://info.betflag.it/info-conto/tutela-del-giocatore/
                </p>
            </div>
        </div>
        <div class="faq">
            <div class="question">
                <div class="question-title">
                    <p>Quali sono i risultati di trading di Wolfbet rispetto ad
                        altri software simili sul mercato?</p>
                </div>
                <img src="icon/simple_arrow_downwards.svg" alt="" id="faq-plus">
            </div>
            <div class="answer">
                <p>Sul mercato non esistono software di questo calibro che
                    inseriscono l’AI all’interno delle scommesse.
                    <br> Per il momento
                    la nostra percentuale di successo è del 69%, ma grazie
                    all’algoritmo del machine learning puntiamo ad aumentare
                    tale quota.
                </p>
            </div>
        </div>
        <div class="faq">
            <div class="question">
                <div class="question-title">
                    <p>Esiste un periodo di prova gratuito per testare l'efficacia di Wolfbet?</p>
                </div>
                <img src="icon/simple_arrow_downwards.svg" alt="" id="faq-plus">
            </div>
            <div class="answer">
                <p>Si, potete provare per 14 giorni Wolfbet in modo completamente gratuito.
                </p>
            </div>
        </div>
    </section>
    <div class="container-iscriviti" id="newsletter">
        <div class="textIscriviti">
            <h3>Riservati un posto per essere aggiornato nel momento in cui rilasceremo la possibilità di creare l’account gratuito</h3>
            <br>
            <p>Iscriviti alla nostra newsletter per essere uno step avanti agli altri.</p>
        </div>
        <div class="container-form">
            <form method="post" class="iscriviti" accept-charset="UTF-8"
            action="https://www.aweber.com/scripts/addlead.pl">
            <div style="display: none;">
                <input type="hidden" name="meta_web_form_id"
                    value="914957530" />
                <input type="hidden" name="meta_split_id" value="" />
                <input type="hidden" name="listname"
                    value="awlist6369194" />
                <input type="hidden" name="redirect" value=""
                    id="redirect_ac4351539f8b91891f0b93bd91ee3f3b" />
                <input type="hidden" name="meta_redirect_onlist"
                    value="https://wolfbet.it" />
                <input type="hidden" name="meta_adtracking"
                    value="Wolfbet_Subscription" />
                <input type="hidden" name="meta_message" value="1" />
                <input type="hidden" name="meta_required"
                    value="name,email" />
                <input type="hidden" name="meta_forward_vars" value="1" />
                <input type="hidden" name="meta_tooltip" value="" />
            </div>
            <input type="nome" id="nome" name="name"
                placeholder="Cognome e Nome" value=""
                onfocus=" if (this.value == '') { this.value = ''; }"
                onblur="if (this.value == '') { this.value='';} " />
            <input type="email" id="email" name="email" placeholder="Email"
                onfocus=" if (this.value == '') { this.value = ''; }"
                onblur="if (this.value == '') { this.value='';} " />

            <div class="input-privacy roadmap">
                <span>Cliccando "Iscrivimi" accetterai i <a href="#">termini
                        e condizioni</a></span>
                <!--pagina termini e condizioni-->
            </div>

            <p>Noi ci teniamo alla protezione dei tuoi dati. Leggi i nostri
                <a href="#">Termini e Servizi</a>
            </p>

            <div class="btn-container">
                <button class="btn-invio" type="submit">
                    <span>Iscrivimi</span>
                    <i class="bx bx-right-arrow-alt"></i>
                </button>
            </div>
        </form>
        </div>
    </div>
    <!-- AVVERTENZE -->
    <div class="avvertenze">
        <span>18</span><br><br>
        <p> Il gioco é <b>vietato</b> ai minori e può causare dipendenza
            patologica.</p><br>
        <p>Noi <b>non siamo</b> un sito di scommesse ma ci teniamo alla salute
            dei nostri utenti.</p>
    </div>

    <!-- FOOTER -->
    <section class="footer colorato">
        <img src="img/logo_temaScuro.svg" alt="" class="logo" id="logo-footer">

        <a href="mailto:info@wolfbet.it">
            <p>Investi su di noi</p>
        </a>

        <div class="social-icons">
            <a href="https://instagram.com/wolfbet.it_off" target="_blank">
                <img src="icon/Instagram_logo.svg" alt="" class="imgSvg">
            </a>
            <a href="https://tiktok.com/@wolfbet.it" target="_blank">
                <img src="icon/TikTok_logo.svg" alt="" class="imgSvg">
            </a>
            <a href="https://twitter.com/WOLFBETit?t=7Ez0eDLVXl9DZ5ABZXZS4Q&s=09"
                target="_blank">
                <img src="icon/Twitter_logo.svg" alt="" class="imgSvg">
            </a>
            <a href="https://youtube.com/channel/UChYMDjJqxvuPXKdi364H54A"
                target="_blank">
                <img src="icon/Youtube.svg" alt="" class="imgSvg">
            </a>
            <img id="icona-tema" style="cursor:pointer;"
                src="icon/dark_mode.svg" class="imgSvg" onclick="toggleTheme()">
        </div>
        <div class="menu-footer">
            <a href="#">Home</a>
            <a href="#">About us</a>
            <a href="#">Contatti</a>
            <a href="#">Legal</a>
        </div>

        <span class="copyright">© 2023 WolfBet. All rights reserved.</span>
    </section>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="js/functions.js"></script>
    <script type="text/javascript" src="js/changeTheme.js"></script>
</body>

</html>